
:root {
    --large-font : 22px;
    --medium-font: 12px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
  }
  body{
    background-image: url(./bg-pixel-art.jpeg);
  }
  .wrapper {
    width: 80vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 40px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: rgb(246, 246, 246);
  }
  label{
    display: block;
  }
  span{
    font-size: var(--large-font);
  }
  .opt-wrapper-slider {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
  }
  button{
    padding: 5px;
    border-radius: 5px;
  }
  input[type="color"] {
    background-color: transparent;
    width: 70px;
    height: 40px;
    border: none;
    cursor: pointer;
  }
  .opt-wrapper-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px
  }
  .choose-color{
    display: inline-flex;
    align-items: center;
  }
  .gridCol {
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
  }
  .gridRow {
    display: flex;
  }
  .error-msg{
    color: rgb(225, 19, 88);
    font-size: var(--medium-font);
  }
  @media screen and (max-width:425px) {
    .opt-wrapper-slider{
        flex-direction: column;
        align-items: center;
    }
    .opt-wrapper-buttons{
        flex-direction: column;
        align-items: center;
    }
  }